/javasource/com/mendix/core
/javasource/system
deployment

releases

.classpath

.project

*.bak

*.launch

*.lock
proxies

.mendix-cache
.settings
.svn
/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/jwt.mpr.bak
/jwt.mpr.lock
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
/nativemobile/builds/
/vendorlib/temp/
.DS_Store
/.svn/
/mprcontents/mprjournal*
